
body {
  background: rgb(240, 209, 191) !important;
}

.carousel {
  background: rgb(247, 245, 244);
  margin: 3rem auto;
  width: 50rem;
}

.carousel-arrow-wrapper {
  flex: 0 0 2rem;
  position: relative;
  font-size: large;
  font-weight: bolder;
}

.carousel-arrow {
  position: relative;
  top: 50%;
}

.carousel-image-block {
  flex-grow: 1; 
  padding: 0 1rem;
}

.carousel-image-wrapper {
  width: 8.5rem;
}

.carousel-image {  
  height: 10rem;
  margin-right: 2rem;
}

.pointer {
  cursor: pointer;
}
