{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
    <pre></pre>
    <h1>About Us</h1>
    <pre></pre>
    <div>
        <p>
            This Database management System is meant to simulate a libary application 
            that will he,lp user's handle, update and store libary data.This includes 
            user types, book information, security, and book movement. The main purpose 
            of this application is to properly manage this data and avoid the losss of book data and users'records.
        </p>
    </div>
    <pre></pre>
    <script>
    function showText() {
        var text = document.getElementById("hidden");
        if (text.style.display === "none") {text.style.display = "block";}
        else {text.style.display = "none";}
    }
    </script>
    <button type='button' onclick="showText()">User Guide</button>
    <!-- <p id='guide' style='display: none'>Hello Javascript</p> -->
    
    <div id='hidden' style='display: none'>
        <ul>
            <h1>User Guide</h1>
            <li><strong>Search:</strong> </li>
            <li>In the upper right hand corner,
                click on the dropdown menu. Select your 
                search prefrence and enter your search in the field.
            </li>
            <pre></pre>
            <li><strong>Registration:</strong></li>
            <li>Within the navigation bar click on "Register".
                Fill out the form and create a password.
                Once completed and submitted you will be given 
                your libary card number.
            </li>

            <li><strong>Log-In:</strong></li>
            <li>Within the navigation bar click on "Login".
                Enter your libary card number and the password you created.
                Click login.
            </li>

            <li><strong>Log-Out:</strong></li>
            <li>Within the navigation bar click on "Logout".
            </li>
        </ul>
    </div>

    <pre></pre>
    <div>
        <p><strong>Created By:</strong></p>
        <p> Jordan Abuhantash,
            Michael Wood,
            Monia Akele-Sita,
            Nicholas Smith
        </p>
        <pre></pre>
        <p><strong>University Of Maryland Global Campus</strong>
        </p><p>Group 3 of CMSC 495</p>
        
    </div>


{% endblock %}
