{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <pre></pre>
    <h1>About Us</h1>
    <pre></pre>
    <div>
        <p>
            This Database management System is meant to simulate a libary application 
            that will he,lp user's handle, update and store libary data.This includes 
            user types, book information, security, and book movement. The main purpose 
            of this application is to properly manage this data and avoid the losss of book data and users'records.
        </p>
    </div>
    <pre></pre>
    <script>
    function showText() {
        var text = document.getElementById("hidden");
        if (text.style.display === "none") {text.style.display = "block";}
        else {text.style.display = "none";}
    }
    </script>
    <button type='button' onclick="showText()">User Guide</button>
    <!-- <p id='guide' style='display: none'>Hello Javascript</p> -->
    
    <div id='hidden' style='display: none'>
        <ul>
            <h1>User Guide</h1>
            <label><strong>Search</strong></label>
            <li>In the upper right hand corner,
                click on the dropdown menu. Select your 
                search prefrence and enter your search in the field.
            </li>
            <pre></pre>
            <label><strong>Registration</strong></label>
            <li>Within the navigation bar click on "Register".
                Fill out the form and create a password.
                Once completed and submitted you will be given 
                your libary card number.
            </li>
            <pre></pre>
            <label><strong>Log-In</strong></label>
            <li>Within the navigation bar click on "Login".
                Enter your libary card number and the password you created.
                Click login.
            </li>
            <pre></pre>
            <label><strong>Log-Out</strong></label>
            <li>Within the navigation bar click on "Logout".
            </li>
            <pre></pre>
            <label><strong>Recover Password</strong></label>
            <li>From the login page click "Forgot Password".
                Once on the password reset form enter in your
                libary card number and personal information.
                click submit and your password should reset.
            </li>
            <pre></pre>
            <label><strong>Change Account information:</strong></label>
            <li>Log in to your account using your credentials. 
                From your account click "Account details" & "Change Account Info".
                Fill out ALL fields within the form with updated information,
                and validate with your libary card number.
            </li>
            <pre></pre>
            <label><strong>Change Password:</strong></label>
            <li>Log in to your account using your credentials. 
                From your account click "Account details" & Forgot Password.
                Validate your request with you libary card number, & credentials.
                Enter a new password and confirm it.
            </li>
            <pre></pre>
            <label><strong>Request Account Deletion:</strong></label>
            <li>Log in to your account using your credentials. 
                From your account click "Account details" & Request Account Deletion.
                You will lose your account but be eliglble to reinstate it.
            </li>


        </ul>
    </div>

    <pre></pre>
    <div>
        <p><strong>Created By:</strong></p>
        <p> Jordan Abuhantash,
            Michael Wood,
            Monia Akele-Sita,
            Nicholas Smith
        </p>
        <pre></pre>
        <p><strong>University Of Maryland Global Campus</strong>
        </p><p>Group 3 of CMSC 495</p>
        
    </div>


{% endblock %}