{% extends "base.html" %}
{% block title %}Admin Profile{% endblock %}
{% block content %}
<div class="admin-form">
  
<form action="/admin" method="POST">
  <h1>Welcome Admin</h1>
    <button class="primary" type="submit" name="mbr_report">Generate All Member Report</button>
    <button class="primary" type="submit" name="copy_report">Generate All Copies Report</button>
    <a href="{{url_for('contact')}}">
    <button class="primary" type="button">Contact IT</button></a>


    <div class="container">
<pre></pre>
                <label>Search By:</label>

<select name="criteria" id="criteria">
  <option value="title">Title</option>
  <option value="author">Author</option>
  <option value="genre">Genre</option>
</select>


        <pre></pre>
        <Input type="search" name="value" placeholder="Item lookup"></Input>
        <button class="secondary">Browse</button>

        <pre></pre>
                <label>Search By:</label>

<select name="criteria2" id="mbrcriteria">
  <option value="card_number">Card Number</option>
  <option value="last_name">Last Name</option>
  <option value="email_address">Email</option>
</select>

        <pre></pre>
        <Input type="search" name="value2" placeholder="Member lookup"></Input>
        <button class="secondary">Search</button>
        
    </div>

    <a href=></a>
    <a href="{{url_for('book_edit')}}">
      <button class="primary" type="button">Edit A Book Entry</button></a>
        <p>{{message}}</p>
    <table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Media Type</th>
        <th>Book ID</th>
        <th>Copy ID</th>
        <th>Status</th>
        <th>Make Update</th>
        <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for row in book_list %}
    <tr>
        {% for book in row %}
        <td>{{book}}&nbsp&nbsp&nbsp&nbsp</td>
        {% endfor %}
        <td>
            <button class="secondary" type="submit" name="update" value={{row[4]}}>Update</button>
        </td>
        <td>
            <button class="secondary" type="submit" name="delete" value={{row[5]}}>Delete</button>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    <table>
  <thead>
    <tr>
        <th>Card Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Email Address</th>
        <th>Status</th>
        <th>Copy ID</th>
        <th>Update Member Info</th>
        <th>Delete</th>

    </tr>
  </thead>
  <tbody>
  {% for row in member_list %}
    <tr>
        {% for member in row %}
        <td>{{member}}&nbsp&nbsp&nbsp&nbsp</td>

        {% endfor %}
        <td>
                <button class="secondary" type="submit" name="update2" value={{row[0]}}>Update</button>
            </td>
            <td>
                <button class="secondary" type="submit" name="delete2" value={{row[0]}}>Delete</button>
            </td>
    </tr>

  {% endfor %}
  </tbody>
</table>
        </form>
</div>

{% endblock %}
