{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<h1>Welcome Admin</h1>
<form action="/admin" method="POST">
    <button type="submit" name="mbr_report">Generate All Member Report</button>
    <button type="submit" name="copy_report">Generate All Copies Report</button>
<button>Contact IT</button>


    <div class="container">
<pre></pre>
                <label>Search By:</label>

<select name="criteria" id="criteria">
  <option value="title">Title</option>
  <option value="author">Author</option>
  <option value="genre">Genre</option>
</select>


        <pre></pre>
        <Input type="search" name="value" placeholder="Item lookup"></Input>
        <button>Browse</button>

        <pre></pre>
                <label>Search By:</label>

<select name="criteria2" id="mbrcriteria">
  <option value="card_number">Card Number</option>
  <option value="last_name">Last Name</option>
  <option value="email_address">Email</option>
</select>

        <pre></pre>
        <Input type="search" name="value2" placeholder="Member lookup"></Input>
        <button>Search</button>
        
    </div>

    <a href="{{url_for('book_edit')}}">Edit a book entry</a>
        <p>{{message}}</p>
    <table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Media Type</th>
        <th>Book ID</th>
        <th>Copy ID</th>
    </tr>
  </thead>
  <tbody>
  {% for row in book_list %}
    <tr>
        {% for book in row %}
        <td>{{book}}&nbsp&nbsp&nbsp&nbsp</td>
        {% endfor %}
        <td>
            <button type="submit" name="update" value={{row[4]}}>Update</button>
        </td>
        <td>
            <button type="submit" name="delete" value={{row[5]}}>Delete</button>
        </td>
    </tr>
  {% endfor %}
  </tbody>
</table>

    <table>
  <thead>
    <tr>
        <th>Card Number</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Birth Date</th>
        <th>Email Address</th>
        <th>Status</th>
        <th>Copy ID</th>

    </tr>
  </thead>
  <tbody>
  {% for row in member_list %}
    <tr>
        {% for member in row %}
        <td>{{member}}&nbsp&nbsp&nbsp&nbsp</td>

        {% endfor %}
        <td>
                <button type="submit" name="update2" value={{row[0]}}>Update</button>
            </td>
            <td>
                <button type="submit" name="delete2" value={{row[0]}}>Delete</button>
            </td>
    </tr>

  {% endfor %}
  </tbody>
</table>
        </form>
{% endblock %}