{% extends "base.html" %}
{% block title %}Registration{% endblock %}
{% block content %}
<h1>Welcome Admin</h1>
<button>Generate Report</button>
<button>Contact IT</button>

    <form action="/admin" method="POST">
    <div class="container">
<pre></pre>
                <label>Search By:</label>

<select name="criteria" id="criteria">
  <option value="title">Title</option>
  <option value="author">Author</option>
  <option value="genre">Genre</option>
</select>


        <pre></pre>
        <Input type="search" name="value" placeholder="Item lookup"></Input>
        <button>Browse</button>

        <pre></pre>
        <Input type="search" placeholder="Member lookup"></Input>
        <button>Search</button>
        
    </div>
    </form>
    <table>
  <thead>
    <tr>
        <th>Title</th>
        <th>Author</th>
        <th>Genre</th>
        <th>Media Type</th>
    </tr>
  </thead>
  <tbody>
  {% for row in book_list %}
    <tr>
        {% for book in row %}
        <td>{{book}}&nbsp&nbsp&nbsp&nbsp</td>
        {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}