{% extends "base.html" %}
{% block title %} Checkout {% endblock %}
{% block content %}
<div class="container">
    <h2 class="mb-3 pb-3">Checkout</h2>
    <div class="row">
        <div class="row">
            <div class="col-3">
                <img src="{{ book_to_rent.img_url}}" alt="">
            </div>
            <div class="col-6">
                <div class="row">
                    <div class="col-12">
                        <table>
                            <tr>
                                <th>Id:</th>
                                <td>{{ book_to_rent.book_id}}</td>

                            </tr>
                            <tr>
                                <th>Title:</th>
                                <td>{{ book_to_rent.title}}</td>
                            </tr>
                            <tr>
                                <th>Author:</th>
                                <td>{{ book_to_rent.author}}</td>
                            </tr>
                            <tr>
                                <th>Genre:</th>
                                <td>{{ book_to_rent.genre}}</td>
                            </tr>
                            <th>Reason:</th>
                                <td>message: {{message}}</td>
                        </table>
                    </div>
                    <div class="col-12 mt-2 d-flex">
                        <form action="/confirm_checkout" method="POST">
                            <input type="hidden" name="book_id" value="{{ book_to_rent.book_id}}">
                            <button type="submit" class="btn btn-primary me-2 {{ 'not-display' if rented_book }}">Confirm</button>
                        </form>
                        <a href="/" class="btn btn-outline-secondary">Cancel & Return to Catalog</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row {{ 'not-display' if not rented_book }}">
            <div class="col-3"></div>
            <div class="col-5">
                <h3 class="text-danger">You can not rent the selected book</h3>
            </div>
            <div class="col-3 {{ 'not-display' if not rented_book.can_return }}">
                <button class="btn btn-danger">Return Current Book?</button>
            </div>
        </div>
        <div class="row {{ 'not-display' if not rented_book }}">
            <div class="col-3"></div>
            <div class="col-6">
                <div class="row">
                    <div class="col-2">
                        <img style="width: 5rem; margin-top: 1rem;"
                            src="{{ rented_book.img_path }}" alt="">
                    </div>
                    <div class="col-9">
                        <table>
                            <tr>
                                <th>Reason:</th>
                                <td>{{ rented_book.err_msg}}</td>
                            </tr>
                            <tr>
                                <th>Title:</th>
                                <td><b>{{ rented_book.title }}</b></td>
                            </tr>
                            <tr>
                                <th>Checkout Date:</th>
                                <td>{{ rented_book.checkout_date | dateimeformat }}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}