{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<script>

const username = document.getElementById('username')
const password = document.getElementById('password')
const form = document.getElementById('form')
const errorElement = document.getElementById('error')

form.addEventListener('primary', (e) => {
    let messages =[]
    if (username.value === '' || username.value == null) {
        messages.push('required')
    }

    if (messages.length > 0) {
        e.preventDefault()
        errorElement.innerText = messages.join(', ')
    }
})

</script>

<h1>Login From</h1>
<div id="error"></div>
<form action="/login" method= "post">

    <p>{{message}}</p>
    <pre></pre>

    <div class="form-grp">
        <div id="error"></div>
        <label for="username">Card Number</label>
        <input id="username" type="text" name="cardnumber" class="form-control">
    </div>
    <pre></pre>

    <div class="form-grp">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control">
    </div>
    <pre></pre>

    <button class="primary" type="submit">Login</button>
    
    <pre></pre>
    <div>
        <a href="{{url_for('forgotPassword')}}">Forgot Password</a>
    </div>
    <div>
        <a href="{{url_for('adminlogin')}}">Administration Access</a>
    </div>

</form>
{% endblock %}